name: hz_toast
description: "A highly customizable and feature-rich toast notification package for Flutter applications with comprehensive documentation and smooth animations."
version: 0.0.7
homepage: https://github.com/hassan171/hz_toast
repository: https://github.com/hassan171/hz_toast

environment:
  sdk: ">=3.5.4 <4.0.0"
  flutter: ">=1.17.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0

flutter:
